<div class="hero-unit rack-wood">

  <ul class="btn-toolbar ui-sortable" data-toggle="buttons-checkbox" id="sortable">
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="0" data-letter="r">
                r
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="1" data-letter="q">
                q
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="2" data-letter="r">
                r
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="3" data-letter="u">
                u
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="4" data-letter="c">
                c
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="5" data-letter="g">
                g
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="6" data-letter="h">
                h
              </li>
  </ul>

</div>
<div id="game-board"></div>
