<div class="hero-unit rack-wood">

  <ul class="btn-toolbar ui-sortable" data-toggle="buttons-checkbox" id="sortable">
              <li class="ui-state-default btn btn-primary tile" data-blank="true" data-index="0" data-letter="r" data-value="1">
               _<span class="value">0</span>
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="true" data-index="1" data-letter="q" data-value="1">
                _<span class="value">1</span>
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="2" data-letter="r" data-value="1">
                r<span class="value">1</span>
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="3" data-letter="u" data-value="1">
                u<span class="value">1</span>
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="4" data-letter="c" data-value="1">
                c<span class="value">1</span>
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="5" data-letter="g" data-value="1">
                g<span class="value">1</span>
              </li>
              <li class="ui-state-default btn btn-primary tile" data-blank="false" data-index="6" data-letter="h" data-value="1">
                h<span class="value">1</span>
              </li>
  </ul>

</div>
<div id="game-board"></div>
