<div ng-controller="gameController">
  <div id="rack" class="hero-unit">

<tile ng-repeat="tile in rack_tiles" id="rack:{{$index}}" class='ui-state-default btn btn-primary selected-{{tile.selected}}'>
        {{tile.value}}<span class="value">{{tile.score}}</span>
      </tile>
  </div>


    <a class="btn" ng-click="shuffle_rack()">Shuffle Rack</a>
    <a class="btn" ng-click="swap_tiles()">Swap Tiles</a>
    <a class="btn" ng-click="is_word()">Is word</a>

  <div class="words_played">
    <tile ng-repeat="word in played_words" class='ui-state-default btn btn-primary selected-{{tile.selected}}'>
      {{word.word}}<span class="value">{{word.score}}</span>
    </tile>
  </div>

  <board>
    <cell
      data-drop="true"
      ng-repeat="cell in board_cells"
      data-jqyoui-options ng-model="board_tiles"
      jqyoui-droppable
      id="{{$index}}" class="{{cell.edge}} {{cell.bonus}}"
    >
      <tile  ng-show="cell.tile" id="board:{{$index}}" class='ui-state-default btn btn-primary selected-{{tile.selected}}'>
        {{cell.tile.value}}<span class="value">{{cell.tile.score}}</span>
      </tile>
    </cell>
  </board>
  <div class="bag">
     <ul class="btn-toolbar ui-sortable" data-toggle="buttons-checkbox" id="sortable"></ul>
    <li ng-repeat="tile in bag_tiles" ng-click="tile.selected = true"class='ui-state-default btn btn-primary tile selected-{{tile.selected}}'>
    {{tile.value}}<span class="value">{{tile.score}}</span>
    </li>
  </div>
</div>


